:root {
  --back-color: #ffffff;
  --card-color: #d9d9d9;
  --font-color: #1b1b1b;
  --ligther-font-color: #6f6f6f;
  --main-color: #2b4eeb;
}

.main_container {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  background-color: var(--card-color);
}
.display_component {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.header_bar {
  background-color: var(--back-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 10px;
  border-radius: 10px;
  position: sticky;
  top: 0px;
  z-index: 1000;
  .notification_icon {
    margin-right: 15px;
    font-size: 25px;
  }
}
